aiographql
aiohttp
aiohttp_client_cache
asyncpraw
asyncprawcore
beautifulsoup4
carbon
codetiming
dateparser
deepl
ffmpeg
ffmpeg_python
ffmpy
gTTS
howlongtobeatpy
hurry
hurry.filesize
IMDbPY
jsonlines
JustIRC
lichess
markovify
Mastodon.py
matplotlib
nordigen
numpy
openai
peewee
Pillow
py_carbon
pycairo
pydub
pymediainfo
python_dateutil
python_lichess
pytz
qbittorrent_api
requests
requests_html
spotdl
Telethon
tiktoken
tweepy
uniplot
upsidedown
wikipedia
yeelight
youtube_search_python
yt_dlp
zstandard
